.input-field {
    font-family: monospace;
    color: navajowhite;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;

    .login-card {
        max-width: 400px;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        
        h2 {
            color: #333;
            font-weight: 600;
        }

        .form-label {
            font-weight: 500;
        }

        .form-control {
            padding: 10px;
            border-radius: 6px;
            
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
        }

        .btn-primary {
            padding: 10px;
            font-weight: 500;
        }
    }
}